<!doctype html>
<html lang="en" class="h-100">


{% from "common.html" import head_project,header,input_form %}
{{ head_project("KifeKwa - Login",".\static\css\login.css") }}

<body class="d-flex flex-column h-100 text-white bg-dark">

    <body class="d-flex flex-column h-100 text-white bg-dark">

    {{ header(2) }}

    <main class="flex-grow-1 d-flex justify-content-center align-items-center px-3 cal-bg text-center">
        <div class="mb-5 w-50">
            <form autocomplete="off" action="/connect" method="post" class="needs-validation form-signin" novalidate>
                
                {{ input_form("text","username","Nom d'Utilisateur","Nom d'Utilisateur",True,"password-input") }}
                {{ input_form("password","password","Nom d'Utilisateur","Nom d'Utilisateur",True,"password-input") }}

                <div class="mb-3 d-flex form-check">
                    <input type="checkbox" class="form-check-input" id="stay-connected">
                    <label class="form-check-label mx-2" for="stay-cinnected">Rester connecté ?</label>
                  </div>

                <button class="btn btn-dark w-100" type="submit">Connexion</button>
            </form>
    </main>

    <footer class="mt-auto text-white-50">
    </footer>

</body>

</html>