<!doctype html>
<html lang="en" class="h-100">


{% from "common.html" import head_project,header,input_form %}
{{ head_project("KifeKwa - Register","static/css/register.css") }}



<body class="d-flex flex-column h-100 text-white bg-dark">

    <body class="d-flex flex-column h-100 text-white bg-dark">

    {{ header(3) }}

    <main class="flex-grow-1 d-flex justify-content-center align-items-center px-3 cal-bg text-center">
        <div class="mb-5 w-50">
            <form autocomplete="off" action="/register/new" method="post" class="needs-validation form-signin" novalidate>

                {{ input_form("text","username","Nom d'Utilisateur","Nom d'Utilisateur",True,"start-form") }}
                {{ input_form("text","nickname","Pseudo (facultatif)","Pseudo") }}
                {{ input_form("password","password","Mot de passe","Mot de passe",True) }}
                {{ input_form("password","confirm-password","Confirmer le mot de passe","Confirmer le mot de passe",True,"end-form") }}

                <button class="btn btn-dark w-100 mt-4" type="submit">S'enregistrer</button>    
            </form>
        </div>
    </main>

    <footer class="mt-auto text-white-50">
    </footer>

</body>

</html>
